

.text_align_center{text-align: center;width:100%;float:left;}
.sign_in_page{background: #daebec;}
.login_logout_details{float:left;width:100%;text-align:right;background:silver;padding: 10px;}
.active{color:red;}
.breadcrumb_style{background:#6ea487;color:#FFF;}
.btn_style{text-align:right;color:white;}
.login_detail{float:left;text-align:left;color:#e3f65e;font-weight:bold;}

.form-style{float:left; width: 50%; margin-left: 25%; padding-top:20px;}

.page-form
{
  float:left; width:100%;
  .row{float:left; width: 100%; padding:10px 0 10px 0;}
}

.rounded{margin-top:5px;margin-bottom:5px;margin-right:5px;margin-left: 20px;}
.noRecords{margin-top:15%;margin-bottom:20%;}

.published_books{float:lefy;width:100%;text-align:center;font-weight:bold;padding:5px;background: #e9e9ae;}

.sort_class{width:10%;padding:5px;font-weight:bold;text-align:right;}
.nav{margin-bottom: 3%;margin-top: 3%;}

.search_class{margin-left:3%;}